@model CreArtHub.Domain.Entity.FeedBack

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("_GetSubMenu",new List<string> { "Отзывы", ViewData["Title"].ToString() })

<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <h1>Удаление</h1>

        <h3>Вы уверены, что желаете это удалить?</h3>

        <div>
            <h4>Отзыв</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.UserEmail)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.UserEmail)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Context)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Context)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.isReaded)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.isReaded)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <p></p>
                <div id="cf-submit">
                    <a asp-action="Index" id="contact-submit" class="btn btn-main">Обратно к списку</a>
                </div>
            </form>
        </div>
    </div>
</section>
