@model IEnumerable<CreArtHub.Domain.Entity.Comment>

@{
    ViewData["Title"] = "Список";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("_GetSubMenu",new List<string> { "Комментарии", ViewData["Title"].ToString() })

<section class="blog section" id="contact">
    <div class="container">
        <h1>Список</h1>

        <p>
            <a asp-action="Create">Создать новый</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsEdit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Post)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsEdit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <a href='javascript:history.go(-1)' class="btn btn-main">Вернуться назад</a>
    </div>
</section>