@model IEnumerable<CreArtHub.Shared.Dto.SubscriptionDto>

@{
    ViewData["Title"] = "Список";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_GetSubMenu",new List<string> { "Подписки", ViewData["Title"].ToString() })

<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <h1>Список</h1>

        <p>
            <a asp-action="Create">Создать новый</a>
        </p>
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Delay)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Delay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <a href='javascript:history.go(-1)' class="btn btn-main">Вернуться назад</a>
    </div>
</section>
